

.main{
  width:80%;
  height: 1750px;
  margin:0 auto;
}
.hdrSlidr{
  width: 100%;
  height: 460px;
  background-image: url('img/3.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.header{
  width: 100%;
  height: 120px;
}

.logo{
  width:20%;
  height: 100%;
  float: left;
  background-size: cover;
}

.title_search{
  width:80%;
  height:100%;
  float: left;
}

.srcBar{
  height: 0px;
  width:50%;
  float:right;
  margin-top: 35px;
  right:0px;
  top:0px;

}

.src{
  width: 50%;
  padding: 10px 24px;
  border: 1px solid #B5BD00;
  border-radius: 4px;
  float: right;
}

.src:focus{
  border:2px solid #B5BD00;
}
.btn{
  width: 30%;
  padding: 10px 20px;
  border: 1px solid #B5BD00;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  float: right;
  background:white;
}
.btn:hover{
  background: #B5BD00;
}
.mainMenu{
  width: 100%;
  height: 60px;
  background:rgba(0, 0, 0, 0.8);
  position:sticky;
  top:0px;
}

.mainMenu ul{
  width: 60%;
  margin: 0px auto;
}

.mainMenu ul li{
  display: inline-block;
  margin: 15px 0px

}

.mainMenu ul li a{
  text-decoration: none;
  font-size: 25px;
  padding: 7px 10px;
  color:white;
  font-weight: lighter;
  border:1px solid #CCDB28;
  border-radius: 1px;
}

.mainMenu ul li a:hover{
  border:1px solid #98C363;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.6);
}
.slider{
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.6);

}

.slider h1{
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 47px;
  font-weight: lighter;
  font-family:fantasy;
  padding:80px 0px 0px 40px;

}

.slider p{
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  font-family:fantasy;
  padding:5px 0px 0px 40px;
  position: relative;
  top:;

}

.moto{
  float: right;
  margin: 90px 50px 0px 0;
}

.moto p{
  font-size: 20px;
  font-family: cursive;
}
.mainBody{
  height:800px;
  width:100%;
  margin:18px 0px;

}
.content{
  width: 70%;
  background: white;
  border-right: 4px solid #f2f2f2;
  height: 800px;
  float: left;

}

.rightSideBar{
  width: 29%;
  float: left;
}

.category{
  padding: 10px 0px 0px 25px;
}

.category h1{
  display: block;
  text-decoration: none;
  padding: 5px 25px;
  border: 1px solid #CCDB28;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 3px;
  color: black;
  background: #f2f2f2;
  width: 28%;
}

.category a{
  display: block;
  text-decoration: none;
  padding: 5px 25px;
  border: 1px solid #CCDB28;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 3px;
  color: black;
  width: 50%;
  background: #f2f2f2;
}

.category a:hover{
  display: block;
  text-decoration: none;
  padding: 5px 25px;
  border: 1px solid #CCDB28;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 3px;
  color: black;
  width: 50%;
  background: #CCDB28;
}

.belowBody{
  width: 100%;
  height:200px;
  background:
  border-radius: 5px
}
.blwBdy1{
  width: 32.93%;
  height: 100%;
  float: left;
  border: solid 2px #;
  margin-right: 5px;
  border-radius: 7px;
  background: #f2f2f2;
}

.blwBdy1 p{
  padding: 25px;
  font-size: 20px;
}
.blwBdy2{
  width: 32.33%;
  height: 100%;
  float: left;
  border: solid 2px #;
  margin-right: 5px;
  border-radius: 7px;
  background: #f2f2f2;
}

.blwBdy3{
  width: 33.33%;
  height: 100%;
  float: left;
  border: solid 2px #;
  margin-right: 5px;
  border-radius: 7px;
  background: #f2f2f2;
}


.footer{
  width: 100%;
  height:50px;
  background: #262011;
  margin-top:10px
}
.footer1{
  width:25%;
  float:left;
  height:50px;
  border-right: 2px solid white;
}
.footer1 p{
  text-align: center;
  color: white;
}
.footer2{
  width:50%;
  float:left;
  height:50px;
  border-right: 2px solid white;
}
.footer2 p{
  text-align: center;
  color: white;
}
.footer3{
  width:24%;
  float:left;
  height:50px;
}

.footer3 p{
  color:white;
}

.footer3 a{
  padding: 10px 37px;
  background: #262213;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin: 4px auto;
  display: block;
  width: 25px;

}
